.save-dialog input{
	width: 300px;
}

.save-dialog .directory, .save-dialog .fileNameChooser{
	padding:10px;
}

.save-dialog .bold{
	font-weight: bold;
}

.save-dialog .error{
	color: #ff0000;
}

.save-dialog .hidden{
	display: none;
}


.save-dialog .waiting{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255, 0.85);
    z-index: 3;
    margin-left: -15px;
    cursor: wait;
}

.save-dialog .waiting p{
    font-style: italic;
    padding: 15px;
    
}



.save-dialog .waiting .loading{
	height: 30px;
    width: 100%;
    margin: 0 auto;
}

